h2.main-heading{
	border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-block;
    width: 14%;
    border-style: dashed;
}
.ebay-settings h2.hndle.ui-sortable-handle span{
  padding-bottom: 10px;
  display: inline-block;
  padding-left: 10px;
}
.wc-ebay-product-time-interval {
	display: none;
}

.wc-ebay-order-time-interval {
	display: none;
}
.ebay-settings .postbox{
   padding: 0px 0px 10px;
 }
 .ebay-settings .inside .submit input[type="submit"] {
  margin-left: 20px;
 }
 .ebay-settings td.label{
   width: 20%;
 }
 .ebay-settings td textarea{
   width: 50%;
   height: 100px;
 }
 .ebay_fields input[type="text"], .ebay_fields select,.ebay-settings input[type="text"], .ebay-settings select{
    padding: 10px;
    line-height: 28px !important;
    height: 40px !important;
    width: 50%;
}
.ebay-connector .postbox{
   margin-top: 48px;
   margin-left: 6px;
   padding: 20px;
 }
 .ebay_fields input[type="text"], .ebay_fields select{
    padding: 10px;
    line-height: 28px !important;
    height: 40px !important;
    width: 50%;
}
.ebay_fields textarea{
  width: 50%;
  height: 100px;
  padding: 10px;
}
.ebay-connector-wrap  .panel select#bulk-action-selector-top{
  padding: 2px;
  line-height: 28px;
  height: 30px !important;
  font-size: 14px;
  width: auto !important;
}
.ebay-connector .tablenav.bottom{
  display: none;
}

.formcontainer td{
  padding:10px 0px;
}
.form-table td{
  padding:10px 5px;
}
.ebay-connector .notice{
  margin: 10px 0px;
}
.ebay-connector label{
  margin-top: 20px !important;
  margin-bottom: 5px !important;
  display: block;
  font-size: 16px;
}

.ebay_fields input,.ebay_fields select{
  display: block;
  font-size: 16px;
  padding: 8px 10px;
  width: 50% !important;
  margin: 10px 0px 5px;
  height: auto;
}
.asve-conf {
   margin: 0px 0px 20px;
   border-top: 1px solid #eee;
   display: inline-block;
   width: 100%;
   padding-top: 20px;
   margin: 10px 0px;
}
.head-wrap{
  margin-bottom: 13px;
}
.ebay-connector th input[type="checkbox"],.ebay-connector td input[type="checkbox"]{
 height: 15px;
}
.ebay-connector .tablenav{
  clear: both;
  height: 30px;
  margin: 6px 0 4px;
  vertical-align: middle;
}
.ebay-connector .search-box input{
 display: inline-block;
 width: auto !important;
}
.mapper-cat i{
  display: block;
}
.ebay-cat-wrapper .select2-container,.store-cat-wrapper .select2-container{
  margin-bottom: 20px !important;
  display: block !important;
}

.wc-product-import-section {
  border: 4px dashed #b4b9be;
  display: none;
  padding: 20px 35px 20px 20px;
  position: relative;
  transition: 0.5s ease-in-out;
  margin-top: 65px;
  margin-left: 8px;
}
.wc-ebay-info-bar {
	display: none;
}

.wc-product-import-section .close {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  height: 40px;
  outline: 0;
  padding: 0;
  position: absolute;
  right: -5px;
  text-align: center;
  top: -5px;
  width: 35px;
  z-index: 1;
}
.wc-ebay-notice {
  background: #ddd;
  border-left: 4px solid #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  margin: 5px 0 15px;
  padding: 1px 12px;
}
.wc-ebay-notice-info{
  border-left-color: #00a0d2;
}
.wc-ebay-notice-error{
  border-left-color: #e6200c;
}
.wc-ebay-notice-success{
  border-left-color: #46b450;
}
.wc-ebay-progress-bar {
  border: 1px solid #28cb6e;
  display: inline-block;
  height: 15px;
  margin: 10px 0 20px 0;
  width: 100%;
}
.wc-ebay-progress-bar-current {
  background: none repeat scroll 0 0 #61d896;
  display: inline-block;
  height: 15px;
  width: 0;
}
.img-loader{
  position: relative;
  top: 6px;
  background-color: #fff;
}
#messenger-popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: #333;
  padding: 60px;
  display: none;
}
#messenger-popup .close {
  float: right;
  position: absolute;
  right: 90px;
  top: 80px;
  color: #000;
  text-align: right;
  font-size: 30px;
  border: 1px solid #000;
  padding: 0 10px;
  border-radius: 50px;
  padding-bottom: 5px;
  cursor: pointer;
}
#messenger-popup .content {
  max-height: 500px;
  overflow-y: scroll;
  background-color: #fff;
}
#messenger-popup textarea {
  width: 100%;
  height: 100px;
}
